body{
    font-family: 'VT323', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}
.btn-again{
    background-color: white;
    color: black;
    font-size: 2rem;
    padding: 0.2rem 0.8rem;
    border: none;
    outline: none;
    border-radius: 2px;
}
.between-text{
    color: white;
    font-size: 1.2rem;
}
.title{
    font-size: 4rem;
    color: white;
    border-bottom: 0.5rem solid white;
    padding-bottom: 1rem;
}
.number{
    font-size: 4rem;
    font-weight: 600;
    color: black;
    width: 6rem;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 2px;
}
.guess{
    outline: none;
    border: 0.2rem solid white;
    width: 60%;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 5px;
}
.button-check{
    background-color: white;
    text-align: center;
    width: 30%;
    color: black;
    border-radius: 5px;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    outline: none;
    border: none;

}
.right p{
    color: white;
    font-size: 1.2rem;
}
